<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.shoppingmall.admin.model.Admin" alias="Admin" />
		<typeAlias type="com.shoppingmall.product.model.Brand" alias="Brand" />
		<typeAlias type="com.shoppingmall.product.model.Nation" alias="Nation" />
		<typeAlias type="com.shoppingmall.product.model.PanelSize" alias="PanelSize" />
		<typeAlias type="com.shoppingmall.product.model.Product" alias="Product" />
		<typeAlias type="com.shoppingmall.product.model.SubCategory" alias="SubCategory" />
		<typeAlias type="com.shoppingmall.product.model.TopCategory" alias="TopCategory" />
		<typeAlias type="com.shoppingmall.product.model.ProductBrand" alias="ProductBrand" />
		<typeAlias type="com.shoppingmall.product.model.ProductNation" alias="ProductNation" />
		<typeAlias type="com.shoppingmall.product.model.ProductSize" alias="ProductSize" />
		<typeAlias type="com.shoppingmall.product.model.ProductSub" alias="ProductSub" />
		<typeAlias type="com.shoppingmall.product.model.EventInfo" alias="EventInfo" />
		<typeAlias type="com.shoppingmall.product.model.EventProduct" alias="EventProduct" />
		<typeAlias type="com.shoppingmall.member.model.Member" alias="Member" />
		<typeAlias type="com.shoppingmall.admin.model.Notice" alias="Notice" />
		
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/AdminMapper.xml" />
		<mapper resource="mybatis/BrandMapper.xml" />
		<mapper resource="mybatis/NationMapper.xml" />
		<mapper resource="mybatis/PanelSizeMapper.xml" />
		<mapper resource="mybatis/ProductMapper.xml"/>
		<mapper resource="mybatis/SubCategoryMapper.xml" />
		<mapper resource="mybatis/TopCategoryMapper.xml" />
		<mapper resource="mybatis/ProductBrandMapper.xml" />
		<mapper resource="mybatis/ProductNationMapper.xml" />
		<mapper resource="mybatis/ProductSizeMapper.xml" />
		<mapper resource="mybatis/ProductSubMapper.xml" />
		<mapper resource="mybatis/EventInfoMapper.xml" />
		<mapper resource="mybatis/EventProductMapper.xml" />
		<mapper resource="mybatis/MemberMapper.xml" />
		<mapper resource="mybatis/NoticeMapper.xml" />
		
	</mappers>
</configuration>