<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductSub">
  
  <insert id="insert" parameterType="ProductSub">
  	insert into productsub(productsub_id, product_id, subcategory_id)
  	values(seq_productsize.nextval, productsub_id=#{productsub_id}, subcategory_id=#{subcategory_id})
  </insert>
  
  	<delete id="delete" parameterType="int">
		delete from productsub where product_id=#{product_id}
	</delete>

</mapper>