<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopCategory">
  	
	<select id="topCategoryList" resultType="TopCategory">
		select topcategory_id, name from topcategory order by topcategory_id		
	</select>
	
</mapper>